MONGODB_URI=mongodb+srv://nathaniel100ramirez_db_user:REPLACE_WITH_URL_ENCODED_PASSWORD@kapiafarmcafe.jhkz1ol.mongodb.net/?retryWrites=true&w=majority&appName=kapiafarmcafe
MONGODB_DB_NAME=kapia_farm_cafe
ADMIN_PASSWORD=kapiaadmin
